*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Roboto", sans-serif;
}
body p{
  color:#9a9a9a;
}
#header{
  background-image: url(images/headerbg.png);
  background-position: center;
  background-size: cover;
  color: white;
  height: 100vh;
}
.nav{
  width: 100%;
  background-color:#F5F5F5;
  padding: 15px 120px;
  color: black;
  text-transform: uppercase
}
.header-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh
}
.header-content h1{
  text-transform: uppercase;
  margin-bottom: 30px;
  font-size: 70px;
}
.header-content .hr{
  height: 3px;
  width: 300px;
  background-color: #00BFFF;
  margin-bottom: 30px;
}
.header-content button{
  background-color: transparent;
  padding: 10px 15px;
  border: 2px solid #00BFFF;
  color: #fff;
  margin-top: 30px;
  border-radius: 4px;
}
#design{
  background-color: #F5F5F5;
  padding: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#design h2{
  text-align: center;
  color: #383848;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-size: 30px;
}
#devices{
  padding: 50px 120px;
}
.devices-container{
  display: flex;
  justify-content: space-between;
  align-items: center
}
.items{
  padding: 30px;
  text-align: center;
}
.items img{
  width: 40%;
  margin-bottom: 20px;
}
.items h3{
  text-transform: capitalize;
  color: #383848;
  margin-bottom: 20px;
}
#imgs{
  background-color: #F5F5F5;
  padding: 40px 120px;
  height: 100vh;
}
.imgs-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imgs-container h2{
  margin-bottom: 30px;
  color:#383848 ;
}
.imgs-container p{
  margin-bottom: 30px;
}
.box img{
  width: 30%;
  margin-right: 20px;
  margin-bottom: 20px;
}
#contact{
  background-image: url(images/contactbg.png);
  height: 100vh;
}
.contact-container{
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-container h2{
  color: white;
  margin-bottom: 20px;
}
.contact-container p{
  margin-bottom: 25px;
}
.contact-container .input{
  display: block;
  margin-bottom: 20px;
  background-color: transparent;
  border: 1px solid #9a9a9a;
  color: #9a9a9a;
  width: 550px;
  height: 30px;
  padding: 20px;
}
.contact-container textarea{
  background-color: transparent;
  width: 550px;
  height: 200px;
  padding: 20px;
  border: 1px solid #9a9a9a;
  color: #9a9a9a;
  margin-bottom: 20px;
}
.submit{
  display: flex;
  margin-top: 20;
  color: #fff;
  width: 550px;
  align-items: center;
}
.submit input{
  margin-right: 10px;
}
.submit button{
  background-color: transparent;
  border: 2px solid #00BFFF;
  padding: 8px 20px;
  border-radius: 5px;
  margin-left: 300px;
  color: white;
}
#footer{
  padding: 20px 50px;
  display: flex;
  align-items: center;
}
#footer p{
  margin-right: 600px;
}
#footer i{
  color: #00BFFF;
  font-size: 30px;
  padding:0 20px;
}